@using ShopGrove.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<body background="~/images/Loginbg.jpg" style="background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover;">

    <!-- contact section -->

    <section class="contact_section layout_padding">
        <div class="container px-0">
            <div class="heading_container">
                <h2 style="color: white;">Login</h2>
            </div>
        </div>
        <div class="container container-bg" style="background-color: white;">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <form action="#">
                        <div>
                            <input type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input type="password" placeholder="Password" />
                        </div>
                        <div>
                            <p >Don't have an account? <b><a href="/Account/Register">Register Here..</a></b></p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button>Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
    </body>


